.add-review {
    text-align: center;
    font-size: 2em;
    background-color: var(--clr3);
    padding: 0.5em;
    border-radius: .5em;
}

.add-review form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: var(--clr4);
    padding: 0.5em;
    border-radius: .5em;
}

.add-review form > * {
    grid-column: 2;
}

.add-review form label {
    grid-column: 1;
}

.add-review form textarea {
    resize: vertical;
}

.add-review form button {
    justify-self: end;
    font-size: .5em;
    padding: 10px;
}