.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;

    padding: 10px;
    background-color: var(--clr2);
}

.app-header nav {
    display: flex;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}