.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;

    padding: 20px;
    background-color: var(--clr2);
}

.app-header .logo {
    cursor: pointer;
    font-family: cursive;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: -15px -15px 5px rgba(203, 51, 51, 0.855);
    color: var(--clr1);
}

.app-header nav {
    display: flex;
    padding-inline: 5px;
    gap: 10px;
    font-family: cursive;
    font-size: 1.3rem;
}

.app-header nav > *:not(:last-child) {
    margin-inline-end: 2em;
}