.book-edit {
    display: grid;
    place-items: center;
    gap: 5px;
    padding: 10px;
    background-color: var(--clr3);
    color: var(--clr1);
}

.book-edit > *:first-child {
    font-size: 2rem;
}

.book-edit > input {
    padding: 0.4em;
}

.book-edit button {
    justify-self: end;
}