.book-index {
    padding-inline: 10px;
}

.book-index div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-block-start: 10px;
}

.book-index .btn-add {
    font-size: 2em;
    font-family: sans-serif;
    background-color: var(--clr3);
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.5em;
    transition: 0.2s;
}

.book-index .btn-add:hover {
    scale: 1.02;
    opacity: 0.9;
    color: blue;
}